In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
credit = pd.read_csv('credit_card_balance.csv')

In [4]:
credit.shape

(3840312, 23)

In [5]:
credit.head(10).T

,0,1,2,3,4,5,6,7,8,9
SK_ID_PREV,2562384,2582071,1740877,1389973,1891521,2646502,1079071,2095912,2181852,1235299
SK_ID_CURR,378907,363914,371185,337855,126868,380010,171320,118650,367360,203885
MONTHS_BALANCE,-6,-1,-7,-4,-1,-7,-6,-7,-4,-5
AMT_BALANCE,56.97,63975.6,31815.2,236572,453919,82903.8,353452,47962.1,291543,201261
AMT_CREDIT_LIMIT_ACTUAL,135000,45000,450000,225000,450000,270000,585000,45000,292500,225000
AMT_DRAWINGS_ATM_CURRENT,0,2250,0,2250,0,0,67500,45000,90000,76500
AMT_DRAWINGS_CURRENT,877.5,2250,0,2250,11547,0,67500,45000,289339,111027
AMT_DRAWINGS_OTHER_CURRENT,0,0,0,0,0,0,0,0,0,0
AMT_DRAWINGS_POS_CURRENT,877.5,0,0,0,11547,0,0,0,199339,34526.7
AMT_INST_MIN_REGULARITY,1700.33,2250,2250,11795.8,22924.9,4449.1,14684.2,0,130.5,6338.34
AMT_PAYMENT_CURRENT,1800,2250,2250,11925,27000,3825,15750,264.69,4093.51,45000
AMT_PAYMENT_TOTAL_CURRENT,1800,2250,2250,11925,27000,3825,15750,0,4093.51,45000
AMT_RECEIVABLE_PRINCIPAL,0,60175.1,26926.4,224949,443044,80519,345434,44735.3,285376,192793
AMT_RECIVABLE,0,64875.6,31460.1,233049,453919,82773.3,351881,47962.1,286832,197225
AMT_TOTAL_RECEIVABLE,0,64875.6,31460.1,233049,453919,82773.3,351881,47962.1,286832,197225
CNT_DRAWINGS_ATM_CURRENT,0,1,0,1,0,0,1,1,3,3
CNT_DRAWINGS_CURRENT,1,1,0,1,1,0,1,1,8,9
CNT_DRAWINGS_OTHER_CURRENT,0,0,0,0,0,0,0,0,0,0
CNT_DRAWINGS_POS_CURRENT,1,0,0,0,1,0,0,0,5,6
CNT_INSTALMENT_MATURE_CUM,35,69,30,10,101,2,6,51,3,38
NAME_CONTRACT_STATUS,Active,Active,Active,Active,Active,Active,Active,Active,Active,Active
SK_DPD,0,0,0,0,0,7,0,0,0,0
SK_DPD_DEF,0,0,0,0,0,0,0,0,0,0

In [8]:
credit = pd.concat([credit, pd.get_dummies(credit['NAME_CONTRACT_STATUS'])], axis=1).drop('NAME_CONTRACT_STATUS', axis=1)

In [11]:
credit.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
SK_DPD                             0
SK_DPD_DEF                         0
Active                             0
Approved                           0
Completed                          0
Demand                             0
Refused                            0
Sent proposal                      0
Signed                             0
dtype: int64

In [13]:
credit['AMT_DRAWINGS_ATM_CURRENT'].fillna(credit['AMT_DRAWINGS_ATM_CURRENT'].mean(), inplace=True)

In [14]:
credit['AMT_DRAWINGS_OTHER_CURRENT'].fillna(credit['AMT_DRAWINGS_OTHER_CURRENT'].mean(), inplace=True)

In [15]:
credit['AMT_DRAWINGS_POS_CURRENT'].fillna(credit['AMT_DRAWINGS_POS_CURRENT'].mean(), inplace=True)

In [16]:
credit['AMT_INST_MIN_REGULARITY'].fillna(credit['AMT_INST_MIN_REGULARITY'].mean(), inplace=True)

In [17]:
credit['AMT_PAYMENT_CURRENT'].fillna(credit['AMT_PAYMENT_CURRENT'].mean(), inplace=True)

In [18]:
credit['CNT_DRAWINGS_ATM_CURRENT'].fillna(credit['CNT_DRAWINGS_ATM_CURRENT'].mean(), inplace=True)

In [19]:
credit['CNT_DRAWINGS_OTHER_CURRENT'].fillna(credit['CNT_DRAWINGS_OTHER_CURRENT'].mean(), inplace=True)

In [20]:
credit['CNT_DRAWINGS_POS_CURRENT'].fillna(credit['CNT_DRAWINGS_POS_CURRENT'].mean(), inplace=True)

In [21]:
credit['CNT_INSTALMENT_MATURE_CUM'].fillna(credit['CNT_INSTALMENT_MATURE_CUM'].mean(), inplace=True)

In [22]:
credit_app_curr = credit.groupby('SK_ID_CURR').mean()

In [23]:
credit_app_curr.head(10)

,SK_ID_PREV,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF,Active,Approved,Completed,Demand,Refused,Sent proposal,Signed
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100006,1489396.0,-3.5,0.000000,270000.000000,5961.324822,0.000000,288.169582,2968.804848,0.000000,10280.537702,...,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100011,1843384.0,-38.5,54482.111149,164189.189189,2432.432432,2432.432432,0.000000,0.000000,3950.599988,4843.064189,...,25.700339,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100013,2038692.0,-48.5,18159.919219,131718.750000,6325.707801,5953.125000,18.010599,185.550303,1606.619259,7168.346250,...,18.872662,0.010417,0.010417,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100021,2594025.0,-10.0,0.000000,675000.000000,5961.324822,0.000000,288.169582,2968.804848,0.000000,10280.537702,...,0.000000,0.000000,0.000000,0.411765,0.0,0.588235,0.0,0.0,0.0,0.000000
100023,1499902.0,-7.5,0.000000,135000.000000,5961.324822,0.000000,288.169582,2968.804848,0.000000,10280.537702,...,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100028,1914954.0,-25.0,8085.058163,225000.000000,1159.318859,6156.400408,29.405059,5908.319270,5762.912529,7049.136453,...,19.730114,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100036,2621538.0,-7.5,0.000000,78750.000000,5961.324822,0.000000,288.169582,2968.804848,0.000000,10280.537702,...,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100042,2137382.0,-42.5,33356.183036,78750.000000,3160.714286,5923.886786,2475.375000,287.797500,2081.940109,7452.703929,...,29.962203,0.023810,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100043,1557583.0,-17.0,208572.600000,287045.454545,2045.454545,14904.972273,0.000000,12859.517727,10810.090099,21281.384173,...,14.292429,0.000000,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
100047,1472630.0,-21.5,0.000000,326250.000000,5961.324822,0.000000,288.169582,2968.804848,1671.763061,10280.537702,...,9.834067,0.000000,0.000000,0.972222,0.0,0.000000,0.0,0.0,0.0,0.027778

In [24]:
credit_app_curr.to_csv('credit_card_balance_ready_to_attach_to_appl.csv')