In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
app_tr = pd.read_csv('application_train.csv')

In [3]:
y = app_tr['TARGET'].values

In [4]:
y.shape

(307511,)

In [5]:
del app_tr

In [6]:
app = pd.read_csv('ready_for_model_building_appl.csv')

In [7]:
X_full = app.iloc[:y.shape[0], :].values

In [8]:
X_full_sub = app.iloc[y.shape[0]:, :].values

In [9]:
X_full.shape

(307511, 231)

In [10]:
feat_selec = [
'Unnamed: 0',
'SK_ID_CURR',
'AMT_INCOME_TOTAL',
'AMT_CREDIT',
'AMT_ANNUITY_x',
'AMT_GOODS_PRICE',
'REGION_POPULATION_RELATIVE',
'DAYS_BIRTH',
'DAYS_EMPLOYED',
'DAYS_REGISTRATION',
'DAYS_ID_PUBLISH',
'OWN_CAR_AGE',
'HOUR_APPR_PROCESS_START',
'EXT_SOURCE_1',
'EXT_SOURCE_2',
'EXT_SOURCE_3',
'YEARS_BEGINEXPLUATATION_AVG',
'LIVINGAREA_AVG',
'YEARS_BEGINEXPLUATATION_MODE',
'LIVINGAREA_MODE',
'YEARS_BEGINEXPLUATATION_MEDI',
'LIVINGAREA_MEDI',
'TOTALAREA_MODE',
'OBS_30_CNT_SOCIAL_CIRCLE',
'DEF_30_CNT_SOCIAL_CIRCLE',
'OBS_60_CNT_SOCIAL_CIRCLE',
'DEF_60_CNT_SOCIAL_CIRCLE',
'DAYS_LAST_PHONE_CHANGE',
'AMT_REQ_CREDIT_BUREAU_YEAR',
'CREDIT_INCOME_RATIO',
'ANNUITY_INCOME_RATIO',
'CREDIT_GOODS_PRICE_DIFF',
'ENTIRE_INCOME',
'CREDIT_ENTIRE_INCOME_RATIO',
'ANNUITY_ENTIRE_INCOME_RATIO',
'INCOME_PER_CHILD',
'INCOME_PER_FAM_MEMBER',
'ENTIRE_INCOME_PER_FAM_MEMBER',
'ENTIRE_INCOME_PER_CHILD',
'AMT_REQ_CREDIT_BUREAU_TOTAL',
'AMT_REQ_CREDIT_BUREAU_EMA',
'DAYS_CREDIT',
'CREDIT_DAY_OVERDUE',
'DAYS_CREDIT_ENDDATE',
'DAYS_ENDDATE_FACT',
'AMT_CREDIT_MAX_OVERDUE',
'AMT_CREDIT_SUM',
'AMT_CREDIT_SUM_DEBT',
'AMT_CREDIT_SUM_LIMIT',
'AMT_CREDIT_SUM_OVERDUE',
'DAYS_CREDIT_UPDATE',
'AMT_ANNUITY_y',
'Active_x',
'Closed',
'Consumer credit',
'Credit card',
'Microloan',
'LATE_DAYS_x',
'score',
'STATUS_X',
'NFLAG_INSURED_ON_APPROVAL',
'DAYS_TERMINATION',
'DAYS_LAST_DUE',
'DAYS_LAST_DUE_1ST_VERSION',
'DAYS_FIRST_DUE',
'DAYS_FIRST_DRAWING',
'LATE_DAYS_y',
'EXTRA_DAYS',
'XNA_x',
'high',
'low_action',
'low_normal',
'middle',
'HC',
'LIMIT',
'SCO',
'SCOFR',
'XAP',
'MONTHS_BALANCE_x',
'CNT_INSTALMENT',
'CNT_INSTALMENT_FUTURE',
'SK_DPD_x',
'SK_DPD_DEF_x',
'PERCENT_COMPLETION',
'Active_y',
'Completed_x',
'Signed_x',
'NUM_INSTALMENT_VERSION',
'NUM_INSTALMENT_NUMBER',
'DAYS_INSTALMENT',
'DAYS_ENTRY_PAYMENT',
'AMT_INSTALMENT',
'AMT_PAYMENT',
'LATE_PAYMENT_DAYS',
'YOKIAN_SCORE',
'MONTHS_BALANCE_y',
'AMT_BALANCE',
'AMT_CREDIT_LIMIT_ACTUAL',
'AMT_DRAWINGS_ATM_CURRENT',
'AMT_DRAWINGS_CURRENT',
'AMT_DRAWINGS_OTHER_CURRENT',
'AMT_DRAWINGS_POS_CURRENT',
'AMT_INST_MIN_REGULARITY',
'AMT_PAYMENT_CURRENT',
'AMT_PAYMENT_TOTAL_CURRENT',
'AMT_RECEIVABLE_PRINCIPAL',
'AMT_RECIVABLE',
'AMT_TOTAL_RECEIVABLE',
'CNT_DRAWINGS_ATM_CURRENT',
'CNT_DRAWINGS_CURRENT',
'CNT_DRAWINGS_OTHER_CURRENT',
'CNT_DRAWINGS_POS_CURRENT',
'CNT_INSTALMENT_MATURE_CUM',
'SK_DPD_y',
'SK_DPD_DEF_y',
'CODE_GENDER_F',
'CODE_GENDER_M',
'NAME_EDUCATION_TYPE_Higher education',
'NAME_EDUCATION_TYPE_Secondary / secondary special',
'NAME_FAMILY_STATUS_Married',
'OCCUPATION_TYPE_Laborers']

In [11]:
len(feat_selec)

121

In [12]:
X_selec = app[feat_selec].values

In [13]:
X_selec_sub = X_selec[y.shape[0]:, :]

In [14]:
X_selec = X_selec[:y.shape[0], :]

In [15]:
feat_less = ['SK_ID_CURR',
'AMT_INCOME_TOTAL',
'AMT_CREDIT',
'AMT_ANNUITY_x',
'AMT_GOODS_PRICE',
'REGION_POPULATION_RELATIVE',
'DAYS_BIRTH',
'DAYS_EMPLOYED',
'DAYS_REGISTRATION',
'DAYS_ID_PUBLISH',
'OWN_CAR_AGE',
'HOUR_APPR_PROCESS_START',
'EXT_SOURCE_1',
'EXT_SOURCE_2',
'EXT_SOURCE_3',
'YEARS_BEGINEXPLUATATION_AVG',
'LIVINGAREA_AVG',
'YEARS_BEGINEXPLUATATION_MODE',
'LIVINGAREA_MODE',
'YEARS_BEGINEXPLUATATION_MEDI',
'LIVINGAREA_MEDI',
'TOTALAREA_MODE',
'OBS_30_CNT_SOCIAL_CIRCLE',
'DEF_30_CNT_SOCIAL_CIRCLE',
'OBS_60_CNT_SOCIAL_CIRCLE',
'DEF_60_CNT_SOCIAL_CIRCLE',
'DAYS_LAST_PHONE_CHANGE',
'AMT_REQ_CREDIT_BUREAU_YEAR',
'CREDIT_INCOME_RATIO',
'ANNUITY_INCOME_RATIO',
'CREDIT_GOODS_PRICE_DIFF',
'ENTIRE_INCOME',
'CREDIT_ENTIRE_INCOME_RATIO',
'ANNUITY_ENTIRE_INCOME_RATIO',
'INCOME_PER_CHILD',
'INCOME_PER_FAM_MEMBER',
'ENTIRE_INCOME_PER_FAM_MEMBER',
'ENTIRE_INCOME_PER_CHILD',
'AMT_REQ_CREDIT_BUREAU_TOTAL',
'AMT_REQ_CREDIT_BUREAU_EMA',
'DAYS_CREDIT',
'CREDIT_DAY_OVERDUE',
'DAYS_CREDIT_ENDDATE',
'DAYS_ENDDATE_FACT',
'AMT_CREDIT_MAX_OVERDUE',
'AMT_CREDIT_SUM',
'AMT_CREDIT_SUM_DEBT',
'AMT_CREDIT_SUM_LIMIT',
'AMT_CREDIT_SUM_OVERDUE',
'DAYS_CREDIT_UPDATE',
'AMT_ANNUITY_y',
'Active_x',
'Closed',
'Consumer credit',
'Credit card',
'Microloan',
'LATE_DAYS_x',
'score',
'STATUS_X',
'NFLAG_INSURED_ON_APPROVAL',
'DAYS_TERMINATION',
'DAYS_LAST_DUE',
'DAYS_LAST_DUE_1ST_VERSION',
'DAYS_FIRST_DUE',
'DAYS_FIRST_DRAWING',
'LATE_DAYS_y',
'EXTRA_DAYS']

In [16]:
len(feat_less)

67

In [17]:
X_less = app[feat_less].values
X_less_sub = X_less[y.shape[0]:, :]
X_less = X_less[:y.shape[0], :]

In [18]:
models = ['cross_validated_random_forest.pickle', 'simple_xgbc.pickle', 'xgbc_selected_cross_validated.pickle', 'xgbc_full_cv.pickle', 'xgbc_less_selec_cv.pickle']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
y.shape

(307511,)

In [22]:
0.85*y.shape[0]

261384.35

In [23]:
X_fulltr, X_fullts = X_full[:261385, :], X_full[261385:, :]

In [24]:
X_selec.shape

(307511, 121)

In [25]:
y.shape

(307511,)

In [26]:
X_selectr, X_selects = X_selec[:261385, :], X_selec[261385:, :]

In [27]:
X_lesstr, X_lessts = X_less[:261385, :], X_less[261385:, :]

In [30]:
y_tr, y_ts = y[:261385,], y[261385:,]

In [31]:
with open('cross_validated_random_forest.pickle', 'rb') as opn:
    best_rf = pickle.load(opn)

In [32]:
train_probs = pd.DataFrame({}, index=list(app['SK_ID_CURR'].values)[:y_tr.shape[0]])

In [33]:
test_probs = pd.DataFrame({}, index=list(app['SK_ID_CURR'].values)[y_tr.shape[0]:y.shape[0]])

In [34]:
train_probs['best_rf'] = best_rf.predict_proba(X_fulltr)[:,1]

In [35]:
test_probs['best_rf'] = best_rf.predict_proba(X_fullts)[:, 1]

In [36]:
del best_rf

In [37]:
with open('simple_xgbc.pickle', 'rb') as opn:
    simple_xgbc = pickle.load(opn)

In [38]:
train_probs['simple_xgbc'] = simple_xgbc.predict_proba(X_selectr)[:, 1]

In [39]:
test_probs['simple_xgbc'] = simple_xgbc.predict_proba(X_selects)[:, 1]

In [40]:
del simple_xgbc

In [41]:
with open('xgbc_selected_cross_validated.pickle', 'rb') as opn:
    xgbc_selec = pickle.load(opn)

In [42]:
train_probs['xgbc_selec_cv'] = xgbc_selec.predict_proba(X_selectr)[:, 1]

In [43]:
test_probs['xgbc_selec_cv'] = xgbc_selec.predict_proba(X_selects)[:, 1]

In [44]:
del xgbc_selec

In [45]:
with open('xgbc_less_selec_cv.pickle', 'rb') as f:
    xgbc_less = pickle.load(f)

In [46]:
train_probs['xgbc_less_cv'] = xgbc_less.predict_proba(X_lesstr)[:, 1]

In [47]:
test_probs['xgbc_less_cv'] = xgbc_less.predict_proba(X_lessts)[:, 1]

In [48]:
del xgbc_less

In [49]:
app_tr = pd.read_csv('application_train.csv')

In [50]:
app_tr.shape

(307511, 122)

In [51]:
del app_tr

In [52]:
train_probs.head()

         best_rf  simple_xgbc  xgbc_selec_cv  xgbc_less_cv
100002  0.277769     0.314071       0.259294      0.380187
100003  0.040991     0.034275       0.015042      0.033700
100004  0.060233     0.036301       0.020286      0.024342
100006  0.053465     0.037015       0.022415      0.038694
100007  0.061021     0.091228       0.060749      0.053903

In [24]:
train_probs = pd.read_csv('train_probs.csv')

In [26]:
train_probs.shape

(261384, 5)

In [27]:
test_probs = pd.read_csv('test_probs.csv')

In [28]:
test_probs.shape

(46127, 5)

In [29]:
train_probs.shape[0]+test_probs.shape[0]

307511

In [53]:
train_probs.to_csv('train_probs.csv')

In [54]:
test_probs.to_csv('test_probs.csv')

In [55]:
sub_best_rf = pd.read_csv('submission_best_rf.csv')

In [56]:
sub_simple_xgbc = pd.read_csv('simple_xgbc_submission.csv')

In [57]:
sub_xgbc_selec_cv = pd.read_csv('xgbc_best_selected.csv')

In [58]:
sub_xgbc_less_cv = pd.read_csv('submission_xgb_full.csv')

In [59]:
sub_xgbc_selec_cv.tail()

       SK_ID_CURR    TARGET
48739      456221  0.070465
48740      456222  0.052454
48741      456223  0.013847
48742      456224  0.026857
48743      456250  0.145753

In [60]:
sub_best_rf.tail()

       SK_ID_CURR    TARGET
48739      456221  0.079943
48740      456222  0.089285
48741      456223  0.054933
48742      456224  0.049755
48743      456250  0.179809

In [61]:
submission_probs = pd.DataFrame({}, index=list(sub_best_rf.SK_ID_CURR.values))

In [62]:
app_ts = pd.read_csv('application_test.csv')

In [63]:
app_ts['SK_ID_CURR'].tail()

48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, dtype: int64

In [64]:
app_ts.shape

(48744, 121)

In [65]:
del app_ts

In [66]:
submission_probs.shape

(48744, 0)

In [67]:
submission_probs['best_rf'] = sub_best_rf['TARGET'].values

In [68]:
submission_probs.tail()

         best_rf
456221  0.079943
456222  0.089285
456223  0.054933
456224  0.049755
456250  0.179809

In [69]:
submission_probs['simple_xgbc'] = sub_simple_xgbc['TARGET'].values

In [70]:
submission_probs['xgbc_selec_cv'] = sub_xgbc_selec_cv['TARGET'].values

In [71]:
submission_probs['xgbc_less_cv'] = sub_xgbc_less_cv['TARGET'].values

In [72]:
submission_probs.tail()

         best_rf  simple_xgbc  xgbc_selec_cv  xgbc_less_cv
456221  0.079943     0.060344       0.070465      0.084255
456222  0.089285     0.066340       0.052454      0.064304
456223  0.054933     0.030530       0.013847      0.078065
456224  0.049755     0.036308       0.026857      0.069481
456250  0.179809     0.165467       0.145753      0.065810

In [74]:
submission_probs.to_csv('submission_probs.csv')

In [2]:
sub = pd.read_csv('sample_submission.csv')

In [11]:
sub['TARGET'] = 0.1*sub_best_rf['TARGET'] + 0.3*sub_simple_xgbc['TARGET'] + 0.4*sub_xgbc_selec_cv['TARGET'] + 0.2*sub_xgbc_less_cv['TARGET']

In [12]:
sub.to_csv('submission_weighted_addition.csv', index=False)